<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580074213639-o0vd0mh78rvbsv7ao6vg3bvqthmsiv8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580074213639-o0vd0mh78rvbsv7ao6vg3bvqthmsiv8i</string>
	<key>API_KEY</key>
	<string>AIzaSyDH5m0dL83lItGeXaysGFB2lRiP6JUblE4</string>
	<key>GCM_SENDER_ID</key>
	<string>580074213639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammetkadir.MyNotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-b49e5</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-b49e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580074213639:ios:dc8f4519e0acbbfe6eb5a2</string>
</dict>
</plist>